<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                   <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
               <h4>Get help</h4>
               <ul>
                   <li><a href="#">FAQ</a></li>
                   <li><a href="#">Payment options</a></li>
                  
                   
               </ul>
           </div>
           <div class="footer-col">
               <h4>Online odering</h4>
               <ul>
                   <li><a href="#">Food 1</a></li>
                   <li><a href="#">Food 2</a></li>
                   <li><a href="#">Food 3</a></li>
                   <li><a href="#">Food 4</a></li>
               </ul>
           </div>
           <div class="footer-col">
               <h4>Follow Us</h4>
               <div class="social-links">
                   <a href="#"><li class="fab fa-facebook-f"></li></a>
                   <a href="#"><li class="fab fa-twitter"></li></a>
                   <a href="#"><li class="fab fa-instagram"></li></a>
                   <a href="#"><li class="fab fa-linkedin-in"></li></a>
               </div>
           </div>
        </div>
    </div>

</div>