<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="footer-top">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="footer-info"><br>
                    <a routerLink="/home"><img src="../../assets/img/spectrum_logo.png"></a>
                    <h3>Spectrum</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <p>
                    No.138/A , <br>
                    Katubedda, Moratuwa,<br>
                    Sri Lanka<br><br>
                    <strong>Phone:</strong> 011 - 0123456<br>
                    <strong>Email:</strong> contact@spectrum.com<br>
                </p>
                <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center;" class="container">
        &copy; Created ❤ with <strong><span>Spectrum</span></strong>. All Rights Reserved
</div>