<admin-navbar></admin-navbar>
<div class="top">
    <div class="container"  data-aos="fade-up">
        <table class="table">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of admin_orders; let i = index">
                    <td>{{ p.userID }}</td>
                    <td>{{ p.cart_title }}</td>
                    <td>{{ p.cart_quantity }}</td>
                    <td>{{ p.cart_price * p.cart_quantity | currency:'Rs. ':true}}</td>
                    <td>
                        <a [routerLink]="['/admin/products/', p.id]">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<footer></footer>