<navbar></navbar>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
                <th>Message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of Messages">
                <td>{{ m.f_name }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.subject }}</td>            
            </tr>
        </tbody>
    </table>
</div>
<footer></footer>