
  <img class="card-img-top" src="../../../assets/img/background_new.jpg" alt="Card image cap">
  <div class="card position-absolute top-50 start-50 translate-middle card text-white bg-dark mb-3" style="width: 25rem; opacity: 75%;">
    <img class="card-img-top" src="../../../assets/img/spectrum_logo.png" alt="Spectrum_logo" style="padding-left: 30%; padding-right: 30%; padding-top: 30px;">
    <div class="card-body">
      <h3 class="card-title text-center">Sign Up</h3><br>
      <input type="email" class="form-control" placeholder="Email Address" #userEmail required><br>
      <input type="password" class="form-control" placeholder="Password" #userPwd required><br>
      <input type="button" class="btn btn-primary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)" style="width: 100%;">
    </div>
    <span class="text-center">or</span>
    <span class="text-center">Already have an account?<a routerLink="/sign-in"> Sign In</a></span>
    <span class="text-center">Are you an admin?<a routerLink="/admin/signup"> Login</a></span><br>
  </div>
 