.main{
    
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../../assets/img/clem-onojeghuo-zlABb6Gke24-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    padding-top: 85px;
 }
 
@media (min-width: 1024px) {
    .main {
      background-attachment: fixed;
    }
}

.row{
  display: flex;
  height: 50%;
  align-items: center;
}
h1{
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  color: #cda45e;
}

.menu-content{
  color: white;
}

.menu-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: #cda45e;
  mask-border-width: 4px;
}