<navbar></navbar>
<div class="main">
  <div class="row">
    <h1>Shopping cart</h1>
    <br><br><br>
    <hr style="color: #cda45e; height: 2px; width: 70%; left: auto;">
  </div>


  <table style="width: 100%;">
    <tr style="padding-top: 160px;" *ngFor="let p of Cart; let i = index">
      <span *ngIf="p.userID === user">
        <td>
          <img src="{{ p.cart_imageUrl }}" class="menu-img">
        </td>
        <td style="padding-left: 40px;">
          <div class="menu-content" style=" text-align: left;">
            <h5>...........................................................................{{ p.cart_title }}</h5><span>{{ p.cart_price*p.cart_quantity | currency:'Rs. ':true}}</span>
          </div>
        </td>
      </span>
    </tr>
  </table>
</div>
<footer></footer>


