<navbar></navbar>

<div class="top">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a *ngFor="let c of categories" [value]="c" class="list-group-item list-group-item-action"
                    routerLink="/" [queryParams]="{ category: c }" [class.active]="category === c">
                    {{ c }}
                </a>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <ng-container *ngFor="let p of products; let i = index">
                        <div class="col">
                            <div class="card text-white bg-dark mb-3" style="width: 20rem;">
                                <img class="card-img-top" src="{{ p.imageUrl }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ p.title }}</h5>
                                    <p class="card-text">{{ p.price | currency:'Rs. ':true }}</p>

                                    <button class="btn btn-outline-primary mb-2 mr-2"
                                        (click)="openWindowCustomClass(content)">Add To Cart</button>
                                    <ng-template #content let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{p.title}}</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>One fine body&hellip;</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a (click)="addCart(p.title, p.price, p.category, p.imageUrl)"
                                        class="btn btn-primary">ADD TO CART</a>
                                            <button type="button" class="btn btn-light"
                                                (click)="modal.close('Close click')">Close</button>
                                        </div>
                                    </ng-template>

                                </div>
                            </div>
                        </div>
                        <div *ngIf="(i+1) % 2 == 0" class="w-100"></div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>